In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('data/test.csv')
test.head()

     image_name  patient_id     sex  age_approx anatom_site_general_challenge
0  ISIC_0052060  IP_3579794    male        70.0                           NaN
1  ISIC_0052349  IP_7782715    male        40.0               lower extremity
2  ISIC_0058510  IP_7960270  female        55.0                         torso
3  ISIC_0073313  IP_6375035  female        50.0                         torso
4  ISIC_0073502  IP_0589375  female        45.0               lower extremity

In [4]:
#get all file names from test folder
import os
test_files = os.listdir('data/jpeg/test')
test_files = [f[:-4] for f in test_files]
test_files

['ISIC_0052349', 'ISIC_0058510', 'ISIC_0052060']

In [5]:
new_df = test[test['image_name'].isin(test_files)]
new_df.head()

     image_name  patient_id     sex  age_approx anatom_site_general_challenge
0  ISIC_0052060  IP_3579794    male        70.0                           NaN
1  ISIC_0052349  IP_7782715    male        40.0               lower extremity
2  ISIC_0058510  IP_7960270  female        55.0                         torso

In [6]:
new_df.to_csv('data/test.csv', index=False)

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('data/train.csv')
train.head()

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0

In [6]:
train_files = os.listdir('data/jpeg/train')
train_files = [f[:-4] for f in train_files]
train_files

['ISIC_0075914',
 'ISIC_0082543',
 'ISIC_0052212',
 'ISIC_0086709',
 'ISIC_0088137',
 'ISIC_0068279',
 'ISIC_0074268',
 'ISIC_0080512',
 'ISIC_0085718',
 'ISIC_0083035',
 'ISIC_0015719',
 'ISIC_0076742',
 'ISIC_0089569',
 'ISIC_0077472',
 'ISIC_0086462']

In [7]:
new_df = train[train['image_name'].isin(train_files)]
new_df.head()

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0
8,ISIC_0075914,IP_7622888,male,30.0,torso,unknown,benign,0

In [8]:
new_df.to_csv('data/train.csv', index=False)